@use './base/reset';
@use './base/typography';
@use './base/utilities';

@use './components/footer';
@use './components/heading-title';
@use './components/menu';
@use './components/novedades';
@use './components/subfooter';
@use './components/submenu';

@use './pages/home';
@use './pages/oficina-virtual';
@use './pages/vision';