// FONT SIZES
.fs-smallest {
    font-size: 1.2rem;
}

.fs-small {
    font-size: 1.4rem;
}

.fs-normal {
    font-size: 1.6rem;
}

.fs-medium {
    font-size: 1.8rem;
}

.fs-big {
    font-size: 4rem;
}

.fs-biggest {
    font-size: 5rem;
}

// FONT WEIGHTS
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}