@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.oben-blog {

    // OBEN HEADER BLOG
    &__header {
        background-image: url(../img/blog-bg.jpg);
        background-position: center center;
        background-size: cover;
        min-height: 50rem;

        // CONTENT
        &-summary {
            padding: 4rem 1rem;
        }

        // h1
        &-title {
            color: $c-neutral-white;
            text-align: center;
        }
    }

    // OBEN BLOG - Nuestros últimos posts - SECTION
    &__posts {
        background: $c-neutral-50-white;

        &-input {
            display: inline-block;
            border-radius: 0.25rem;
            border: 1px solid $c-neutral-25-white;
            background: $c-neutral-white;
            padding: .6rem 5rem .6rem 1rem;
            font-size: 1.6rem;
            width: 15.5rem;

            &:focus {
                outline: none;
            }
        }

        &-icon {
            margin-left: -3.4rem;
            margin-bottom: .4rem;
            height: 1.6rem;
        }

        &-iconSearch {
            position: absolute;
            top: 50%;
            left: 1.5rem;
            transform: translate(-50%, -50%);
            height: 1.7rem;
        }

        &-inputSearch {
            display: inline-block;
            border-radius: 0.25rem;
            border: 1px solid $c-neutral-25-white;
            background: $c-neutral-white;
            padding: .3rem .3rem .3rem 3rem;
            font-size: 1.6rem;
            width: 25rem;

            &:focus {
                outline: none;
            }

            // 768px
            @include for-size(48em) {
                width: 100%;
            }
        }

        &-image {
            max-width: 40rem;
            margin: 0 auto;
        }

        &-img {
            width: 100%;
            height: 100%;
        }

        &-content {
            box-shadow: 0px 0px 20px -2px rgba(59, 68, 77, 0.20);
            background: $c-neutral-white;
            padding: 1.7rem;
        }

        &-contentHeading {
            font-size: 2.4rem;
        }
    }

    // OBEN BLOG - ¿Quieres descubrir más consejos de OBEN? - SECTION
    &__consejosExtras {
        background: $c-primary-lighter;
        padding: 6.2rem 0;

        // 992px
        @include for-size(62em) {
            padding: 4rem 0;
        }

        &-boxImage {
            max-width: 18rem;
        }

        &-boxImg {
            width: 100%;
            height: 100%;
        }
    }
}