@use '../abstracts/colors' as *;
@use '../abstracts/mixins' as *;

.oben-oportunidad {

    // OBEN HEADER OPORTUNIDAD
    &__header {
        background-image: url(../img/oportunidad-bg.jpg);
        background-position: center center;
        background-size: cover;
        min-height: 50rem;

        // CONTENT
        &-summary {
            padding: 4rem 1rem;
        }

        // h1
        &-title {
            color: $c-neutral-white;
            text-align: center;
        }
    }

    // OBEN OPORTUNIDAD - ¿Te has quedado aún con dudas? - SECTION
    &__duda {

        &-summaryContent {
            max-width: 75rem;
            margin: 3.5rem auto 0 auto;
            line-height: 1.7;
        }
    }

    // OBEN OPORTUNIDAD - SER TU PROPIO JEFE - SECTION
    &__guia {
        &-box {
            position: absolute;
            width: 38rem;
            bottom: -6.5rem;
            left: 15%;
            background: $c-neutral-50-white;
            box-shadow: .4rem .4rem 1.8rem .6rem rgba($c-neutral-black, 0.05);
            padding: 3rem;

            // 768px
            @include for-size(48em) {
                position: unset;
                max-width: 100%;
            }
        }

        &-title {
            font-size: 2.3rem;
        }

        &-subtitle {
            font-size: 2.3rem;
        }

        &-image {
            max-width: 75rem;
        }

        &-img {
            width: 100%;
            height: 100%;
        }

    }

    // OBEN OPORTUNIDAD - Consigue la armonía en todas las facetas de tu vida - SECTION
    &__facetas {
        background: $c-neutral-50-white;

        // Content
        &-content {
            line-height: 1.6;
        }

        // Image background
        &-image {
            max-width: 48rem;
        }

        // Img child background
        &-img {
            width: 100%;
            height: 100%;
        }
    }

    // OBEN OPORTUNIDAD - ALCANZA TU MEJOR VERSIÓN - SECTION
    &__version {
        &-box {
            position: absolute;
            width: 38rem;
            bottom: -6.5rem;
            right: 15%;
            background: $c-neutral-50-white;
            box-shadow: .4rem .4rem 1.8rem .6rem rgba($c-neutral-black, 0.05);
            padding: 3rem;

            // 768px
            @include for-size(48em) {
                position: unset;
                max-width: 100%;
            }
        }

        &-title {
            font-size: 2.3rem;
        }

        &-subtitle {
            font-size: 2.3rem;
        }

        &-image {
            max-width: 75rem;
        }

        &-img {
            width: 100%;
            height: 100%;
        }

    }

    // OBEN OPORTUNIDAD - ¿Que es lo que puedes conseguir? - SECTION
    &__recompensa {
        background-color: $c-secondary-2;
        padding: 6.2rem;

        // 400px
        @include for-size(25em) {
            padding: 3rem .5rem;
        }

        &-summaryContent {
            max-width: 75rem;
            margin: 3.5rem auto 0 auto;
            line-height: 1.7;
            color: $c-neutral-white;
        }
    }

    // OBEN OPORTUNIDAD - Únete a nosotros en la construcción de una comunidad próspera - SECTION
    &__comunidad {
        padding: 6.2rem;

        @include for-size('tablet-medium-up') {
            padding: 4rem 2rem;
        }

        &-contentList {
            box-shadow: .4rem .4rem 1.8rem .6rem rgba($c-neutral-black, 0.1);
            background: $c-neutral-white;
            line-height: 1.7;
        }

        &-image {
            max-width: 100%;
            box-shadow: .4rem .4rem 1.8rem .6rem rgba($c-neutral-black, 0.1);
        }

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    // OBEN OPORTUNIDAD - ¿Que tengo que hacer para empezar? - SECTION
    &__pasos {
        background-image: url(../img/flechas-pasos.jpg);
        background-position: center center;
        background-size: cover;
        padding: 8rem;

        @include for-size('tablet-medium-up') {
            padding: 3rem 0;
        }

        &-bg {
            background-color: $c-neutral-white;
            border-radius: 0.5rem;
            box-shadow: .4rem .4rem 1.6rem 0 rgba($c-neutral-black, 0.10);
            padding: 3rem 2.5rem;
        }

        &-content {
            padding: 1.5rem 1rem;
            background: $c-primary-lighter;
            text-align: center;
            margin: 0 auto;
        }
    }
}