@use '../abstracts/mixins' as *;
@use '../abstracts/colors' as *;

.oben-vision {

    // OBEN HEADER VISION
    &__header {
        background-image: url(../img/vision-bg.jpg);
        background-position: center center;
        background-size: cover;
        min-height: 50rem;

        // CONTENT
        &-summary {
            padding: 4rem 1rem;
        }

        // h1
        &-title {
            color: $c-neutral-white;
            text-align: center;
        }
    }

    // OBEN VISION - Encuentra la armonía en todos los ámbitos de tu vida - SECTION
    &__armonia {
        background: $c-neutral-50-white;

        // Content
        &-content {
            line-height: 1.6;
        }

        // Image background
        &-image {
            max-width: 48rem;
        }

        // Img child background
        &-img {
            width: 100%;
            height: 100%;
        }
    }

    // OBEN VISION - La visión de OBEN - SECTION
    &__visionOben {
        background-image: url(../img/flechas-vision.jpg);
        padding: 8rem 0;

        @include for-size('tablet-medium-up') {
            padding: 4rem 0;
        }

        &-bg {
            background-color: $c-neutral-white;
            border-radius: 0.5rem;
            box-shadow: .4rem .4rem 1.6rem 0 rgba($c-neutral-black, 0.10);
            padding: 5rem 2.5rem;
        }

        &-letter {
            position: relative;
            max-width: 80rem;
            margin: 0 auto;
            isolation: isolate;
            padding: 2rem;
        }

        &-letterBg {
            position: absolute;
            z-index: -1;
            inset: 0;
            background: rgba($c-primary, 0.10);
        }

        &-letterBorders {
            height: 100%;
            width: 100%;
        }

        &-letterSummary {
            text-align: center;
        }
    }

    // OBEN VISION - Cómo Cumplimos Nuestra Visión - SECTION
    &__cumplimiento {
        background-color: $c-neutral-50-white;

        &-summaryContent {
            margin: 3.5rem auto 0 auto;
            color: $c-text-primary;
            line-height: 1.7;
        }
    }

    // OBEN VISION - Un impacto a nivel global - SECTION
    &__impacto {

        // Content
        &-content {
            line-height: 1.6;
            padding-right: 5rem;
        }

        // Image background
        &-image {
            max-width: 48rem;
        }

        // Img child background
        &-img {
            width: 100%;
            height: 100%;
        }
    }

    // OBEN VISION - Tu también puedes ser parte de OBEN - SECTION
    &__parte {
        background-color: $c-secondary-2;

        &-summaryContent {
            max-width: 75rem;
            margin: 3.5rem auto 0 auto;
            line-height: 1.7;
            color: $c-neutral-white;
        }
    }
}